
.container {
    display: flex;
    flex-flow: column wrap;
    border: 0;
    
    
}
.flex-container {
    display: flex;
    background-color: rgba(0, 166, 255, 0.905);
    height: 3%;
    width: 100%;
    font-family: 'Exo', sans-serif;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    padding: 0px;
    position: static;
 }

 .flex-container2 {
     display: flex;
     background-image: url("../images/indexbg.jpg");
     height: 30em;
 }
 
 .logo {
     height: 50px;
 }
 
 .logo:hover {
     cursor: pointer;
 }
 .flex-container h1 {
     font-size: 40px;
     padding: 0px;
 }
 
 button {
     height: 40px;
     width: 110px;
     font-family: 'Exo', sans-serif;
     font-size: 20px;
     border: 0;
     border-radius: 5px;

 }
 
 .log {
     background-color: rgba(0, 51, 255, 0.529);
     color: white;
 }
 
 .log:hover {
     box-shadow: -2px 4px 7px 1px rgba(0,0,0,0.44);
     color: black;
     background-color: white;
     cursor: pointer;
 }
 
 .reg {
     background-color: orange;
     color: white;
 }
 
 .reg:hover {
     box-shadow: -2px 4px 7px 1px rgba(0,0,0,0.44);
     color: black;
     background-color: white;
     cursor: pointer;
 }

 .log1 {
      background-color: rgba(0, 51, 255, 0.529);
      color: white;
}
 
 .flex-container input{
     font-size: 20px;
     border: 1px solid grey;
     border-radius: 10px;
     padding: 3px;
 } 

 .footer {
     bottom: 0;
     position: fixed;
 }
 .footer-container {
     display: flex;
     justify-content: space-between;
     background-color: rgba(0, 166, 255, 0.905);
     font-family: 'Exo', sans-serif;
     height: 10em;
     align-content: flex-end;
     color: black;
     bottom: 0;
 }

 .bgpic {
     align-self: center;
     align-content: space-around;
     background-color: rgba(0, 166, 255, 0.453);
     color: white;
     height: 10em;
     width: 40em;
     font-family: 'Exo', sans-serif;
     font-size: 2em;
     padding: 0em;
 }

 .view {
     align-self: center;
     align-content: space-around;
     width: 100%;
     font-family: 'Exo', sans-serif;
     font-size: 2em;
     background-color: orange;
     color: white;
 }

 .view:hover {
     box-shadow: -2px 4px 7px 1px rgba(0,0,0,0.44);
     color: black;
     background-color: rgb(165, 17, 17);
     cursor: pointer;
 }