
.container {
    display: flex;
    flex-flow: column wrap;
    
}
.flex-container {
    display: flex;
    background-color: rgba(0, 166, 255, 0.905);
    height: 3%;
    width: 100%;
    font-family: 'Exo', sans-serif;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    padding: 0px;
    position: static;
 }

 .flex-container2 {
     display: flex;
     background-image: url("../images/indexbg.jpg");
     height: 30em;
     flex-flow: row wrap;
     justify-content: space-around;
 }
.flex-container4 {
     display: flex;
     background-image: url("../images/indexbg.jpg");
     height: 30em;
     flex-flow: column wrap;
     padding: 10px;
     justify-content: space-between;
}
 .flex-container2 > div {
     display: flex;
     width: 50%;
 }

 .flex-container4 > div{
     display: flex;
     height: 48%;
     font-family: 'Exo', sans-serif;
 }

 .flex-container5 {
     display: flex;
     background-image: url("../images/indexbg.jpg");
     height: 30em;
     flex-flow: column wrap;
     justify-content: space-between;
     font-family: 'Exo', sans-serif;
     padding: 10px;
 }

 .flex-container5 > div {
     display: flex;
     width: 100%;
     font-family: 'Exo', sans-serif;
     border-radius: 10px;
 }

 .r1 {
     background-color: rgba(0, 166, 255, 0.253);
     height: 20%;
     text-align: center;
     padding: 3px;
     color: white;
 }
 .r2 {
     display: flex;
     background-color: rgba(255, 187, 0, 0.52);
     height: 30%;
     text-align: center;
     padding: 3px;
     flex-flow: column wrap;
     color: white;
 }

 .r2 > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .r3 {
     display: flex;
     background-color: rgba(255, 255, 255, 0.493);
     height: 45%;
     text-align: center;
     padding: 3px;
     color: white;
     flex-flow: column wrap;
 }

 .r3 > div {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 .r31 {
     display: flex;
     flex-flow: row wrap;
     background-color: rgba(0, 166, 255, 0.979);
 }

 .log1 {
     background-color: rgba(0, 51, 255, 0.529);
     color: white;
 }

 .lg1 {
     background-color: rgba(36, 128, 0, 0.719);
 }

 .lg2 {
     background-color: rgba(255, 0, 0, 0.719);
 }

.log1:hover {
     box-shadow: -2px 4px 7px 1px rgba(0,0,0,0.44);
     color: black;
     background-color: white;
     cursor: pointer;
 }

 .row1 {
     display: flex;
     flex-flow: row wrap;
     border-radius: 10px;
     justify-content: space-between;
 }

 .row1 > div {
     display: flex;
     width: 24.5%;
     border-radius: 10px;
     font-size: 12px;
     text-align: center;
 }

 .col1 {
     background-image: url(../images/binary.jpg);
 }

 .col2{
     display: flex;
     flex-direction: column;
     color: white;
     text-align: center;
     font-family: 'Exo', sans-serif;
     justify-content: space-between;
 }

 .col2 > div {
     display: flex;
     height: 30%;
     background-color: rgba(0, 166, 255, 0.198);
     border-radius: 5px;
 }

 .col3 {
     display: flex;
     flex-direction: column;
     color: white;
     font-family: 'Exo', sans-serif;
     text-align: center;
     justify-content: space-between;
 }
 .col3 > div {
     display: flex;
     height: 30%;
     background-color: rgba(0, 166, 255, 0.198);
     border-radius: 5px;
 }

 .col4 {
     display: flex;
     flex-direction: column;
     color: white;
     font-family: 'Exo', sans-serif;
     justify-content: space-between;
 }

 .col4 > div {
    display: flex;
    height: 30%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 }

 .crow1 {
    background-color: rgba(0, 166, 255, 0.712);
 }
 .crow2 {
    background-color: rgba(0, 166, 255, 0.712);
 }
 .crow3 {
     display:flex;
     text-align: center;
     
 }
.row2 {
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
}
.cl {
    display: flex;
    flex-flow: column wrap;
    padding: 2px;
}
.cl > div {
    display: flex;
    flex-flow: column wrap;
    height: 30%;
}
.ched {
    background-color: rgba(0, 0, 255, 0.931);
    padding: 0px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.crow3 > button {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 255, 0.931);
}

.crow3 button:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(255, 166, 0, 0.897);
}

 .flex-container3 {
     display: flex;
     background-image: url("../images/indexbg.jpg");
     height: 30em;
     flex-flow: column wrap;
     align-items: center;
     justify-content: space-around;
 }

 .suform {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    font-family: 'Exo', sans-serif;
    width: 30%;
    background-color: rgba(0, 166, 255, 0.912);
    flex-flow: row wrap;
 }

 .sub {
     border: 5px ;
 }

.suform > div {
    border: 4px;
}
 .suform > input {
     width: 10px;
     height: 5px;
 }
 .side1 {
     background-color: rgba(0, 0, 0, 0.802)
 }

 .side2 {
     background-color: rgba(224, 231, 235, 0.535)
 }
 
 .logo {
     height: 50px;
 }
 
 .logo:hover {
     cursor: pointer;
 }
 .flex-container h1 {
     font-size: 40px;
     padding: 0px;
 }
 
 button {
     height: 40px;
     font-family: 'Exo', sans-serif;
     font-size: 20px;
     border: 0;
     border-radius: 5px;

 }
 
 .log {
    width: 110px;
     background-color: rgba(0, 51, 255, 0.529);
     color: white;
 }
 
 .log:hover {
     box-shadow: -2px 4px 7px 1px rgba(0,0,0,0.44);
     color: black;
     background-color: white;
     cursor: pointer;
 }
 
 .reg {
     background-color: rgb(255, 166, 0);
     width: 130px;
     color: white;
 }
 
 .reg:hover {
     box-shadow: -2px 4px 7px 1px rgba(0,0,0,0.44);
     color: black;
     background-color: white;
     cursor: pointer;
 }
 
 .flex-container input{
     font-size: 20px;
     border: 1px solid grey;
     border-radius: 10px;
     padding: 3px;
 } 

 .footer-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 166, 255, 0.905);
    font-family: 'Exo', sans-serif;
    height: 10em;
    align-content: flex-end;
    color: black;
 }

 .bgpic {
     align-self: center;
     align-content: space-around;
     background-color: rgba(0, 166, 255, 0.453);
     color: white;
     height: 10em;
     width: 40em;
     font-family: 'Exo', sans-serif;
     font-size: 2em;
     padding: 0em;
 }
